---
layout: default
title: "CV - Adrian Röfer"
---
<div class="media py-5">
    <div class="align-self-center mr-3">
        <div class="container">
            <div class="row">
            <img src="{{ site.data.cv.top.picture }}" class="col-sm rounded-circle" alt="Profile Picture" style="width: {{ site.data.cv.top.picture_size }}px;">
            </div>
            {% assign contact = site.data.cv.top.contact %}
            <div class="row py-3">
                <ul class="list-unstyled col-sm">
                    {% if contact.email %}
                    <li><i class="fas fa-envelope"></i>
                      <span>{{ contact.email }}</span>
                    </li>
                    {% endif %}

                    {% if contact.github %}
                    <li><i class="fab fa-github"></i>
                      <a href="http://github.com/{{ contact.github }}" target="_blank">{{ contact.github }}</a>
                    </li>
                    {% endif %}

                    {% if contact.linkedin %}
                    <li><i class="fab fa-linkedin"></i>
                      <a href="https://linkedin.com/in/{{ contact.linkedin }}" target="_blank">{{ contact.linkedin }}</a>
                    </li>
                    {% endif %}

                    {% if contact.website %}
                    <li><i class="fas fa-globe-americas"></i>
                      <a href="http://{{ contact.website }}" target="_blank">{{ contact.website }}</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="media-body">
        <h5 class="mt-0">{{ site.data.cv.top.title }}</h5>
        <p class="mt-0 text-justify">{{ site.data.cv.top.description }}</p>
    </div>
</div>

<h2>Curriculum Vitae</h2>
<p>Below you can browse through my CV.</p>
{% for e in site.data.cv.Content %}
    <a href="#{{ e[0] }}" class="badge badge-secondary">{{ e[0] }}</a>
{% endfor %}
<hr>
<h3 id="Education">Education</h3>
<div class="container">
{% for e in site.data.cv.Content.Education  %}
    {% assign title = e.title %}
    {% assign where = e.where %}
    {% assign from = e.from %}
    {% assign until = e.until %}
    {% assign desc = e.desc %}
    {% include cv_entry.html %}
{% endfor %}
</div>
<hr>

<h3 id="Work">Work Experience</h3>
<div class="container">
{% for e in site.data.cv.Content.Work  %}
    {% assign title = e.as %}
    {% assign where = e.where %}
    {% assign from = e.from %}
    {% assign until = e.until %}
    {% assign desc = e.desc %}
    {% include cv_entry.html %}
{% endfor %}
</div>
<hr>

<h3 id="Projects">Project Experience</h3>
<div class="container">
{% for e in site.data.cv.Content.Projects %}
    {% assign title = e.as %}
    {% assign where = e.where %}
    {% assign from = e.from %}
    {% assign until = e.until %}
    {% assign desc = e.desc %}
    {% include cv_entry.html %}
{% endfor %}
</div>
<hr>

<h3 id="Publications">Publications</h3>
<div class="container">
{% for e in site.data.cv.Content.Publications %}
    {% assign title = e.title %}
    {% assign authors = e.authors %}
    {% assign publication = e.publication %}
    {% assign notes = e.notes %}
    {% include cv_publication.html %}
{% endfor %}
</div>
<hr>
