---
layout: default
title: "CV - Adrian Röfer"
---
<!-- <div class="col-md-8"> -->
<div class="container">
<div class="row">
    <div class="align-self-center col-md-4">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                <img src="{{ site.data.cv.top.picture }}" class="rounded-circle" alt="Profile Picture" style="width: 100%; height: 100%;">
                </div>
            </div>
            {% assign contact = site.data.cv.top.contact %}
            <div class="row py-3">
                <ul class="list-unstyled col-sm">
                    {% if contact.email %}
                    <li><i class="fas fa-envelope"></i>
                      <span>{{ contact.email }}</span>
                    </li>
                    {% endif %}

                    {% if contact.github %}
                    <li><i class="fab fa-github"></i>
                      <a href="http://github.com/{{ contact.github }}" target="_blank">{{ contact.github }}</a>
                    </li>
                    {% endif %}

                    {% if contact.linkedin %}
                    <li><i class="fab fa-linkedin"></i>
                      <a href="https://linkedin.com/in/{{ contact.linkedin }}" target="_blank">{{ contact.linkedin }}</a>
                    </li>
                    {% endif %}

                    {% if contact.website %}
                    <li><i class="fas fa-globe-americas"></i>
                      <a href="http://{{ contact.website }}" target="_blank">{{ contact.website }}</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <h5 class="mt-0">{{ site.data.cv.top.title }}</h5>
        <p class="mt-0 text-justify">
        I am a graduated Master in Computer Science from the University of Bremen, Germany. My main area of interest lies with robotic motion generation through planning and closed-loop control. I have worked on multiple projects in service of this interest, starting with student projects during undergraduate and graduate degree, and continuing with two theses in this field.
        </p>

        <p class="mt-0 text-justify">
        During my graduate degree, I collaborated frequently with the Laboratory for Progress at the University of Michigan. As a part of these collaborations, I explored generating motion controllers from semantic predicates which were grounded in symbolic mathematical descriptions. This exploration later inspired the topic of my graduate thesis.<br>
        Further, I collaborated with Dr. Zhen Zeng on the paper "Semantic Linking Maps for Active Visual Object Search". The paper was published at ICRA 2020 and received the IEEE ICRA Best Paper Award in Cognitive Robotics.
        </p>

        <p class="mt-0 text-justify">I was able to apply my experience in robotics to a real-world scenario during an internship at the Amazon Development Center in Berlin. Different from my academic work, I focused on achieving roboustness in the given problem space, as opposed to exploring a particular method across multiple spaces.
        </p>
    </div>
</div>
</div>

<h2>Curriculum Vitae</h2>
<p>Below you can browse through my CV.</p>
{% for e in site.data.cv.Content %}
    <a href="#{{ e[0] }}" class="badge badge-secondary">{{ e[0] }}</a>
{% endfor %}
<hr>
<h3 id="Education">Education</h3>
<div class="container">
{% for e in site.data.cv.Content.Education  %}
    {% capture desc %}{{ e.desc }} <br> {{ e.final }}{% endcapture %}
    {% assign title = e.title %}
    {% assign where = e.where %}
    {% assign from = e.from %}
    {% assign until = e.until %}
    {% include cv_entry.html %}
{% endfor %}
</div>
<hr>

<h3 id="Work">Work Experience</h3>
<div class="container">
{% for e in site.data.cv.Content.Work  %}
    {% assign title = e.as %}
    {% assign where = e.where %}
    {% assign from = e.from %}
    {% assign until = e.until %}
    {% assign desc = e.desc %}
    {% include cv_entry.html %}
{% endfor %}
</div>
<hr>

<h3 id="Projects">Project Experience</h3>
<div class="container">
{% for e in site.data.cv.Content.Projects %}
    {% assign title = e.as %}
    {% assign where = e.where %}
    {% assign from = e.from %}
    {% assign until = e.until %}
    {% assign desc = e.desc %}
    {% include cv_entry.html %}
{% endfor %}
</div>
<hr>

<h3 id="Publications">Publications</h3>
<div class="container">
{% for e in site.data.cv.Content.Publications %}
    {% assign title = e.title %}
    {% assign authors = e.authors %}
    {% assign publication = e.publication %}
    {% assign notes = e.notes %}
    {% include cv_publication.html %}
{% endfor %}
</div>
<hr>
<!-- </div> -->